version: '3.7'

services:
  redpanda:
    # --- CHANGED LINE BELOW ---
    image: redpandadata/redpanda:latest 
    container_name: redpanda
     command:
      - redpanda start
      - --smp 1
      - --memory 1G
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      # CHANGE THIS LINE BELOW:
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
    ports:
      - 19092:19092
      - 9644:9644
    volumes:
      - redpanda_data:/var/lib/redpanda/data

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow_server
    ports:
      - 5000:5000
    command: mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./mlruns --host 0.0.0.0

volumes:
  redpanda_data: